@media screen and (max-width: 1010px) {
    .canvas-main {
        display: none !important;
    }

    .main-content {
        width: 100% !important;
    }

    .vanta-canvas {
        visibility: visible !important;
    }
}

.head1 {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 80vh;
}

.canvas-main {
    width: 50%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.main-content {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
}

.typed {
    color: #ff1b2e !important;
}

#invite-btn {
    color: white !important;
}

.gbtn {
    margin-top: 10px;
}

.vanta-canvas {
    filter: blur(3px);
}