/* font-family: 'VT323'; */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

#loading {
    opacity: 1;
    transition: all 1s ease-in-out;
    -wekit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
}

#main {
    margin-top: 1.1em;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

a,
u {
    text-decoration: none;
}

body {
    background-color: #1a1a1a;
}

* {
    color: #c4c4c4 !important;
    font-family: 'VT323';
}

.rootloading {
    opacity: 0;
    transition: all 1s ease-in-out;
    -wekit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
}

#topnav {
    top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 15px;
    background-color: #4f4f4f !important;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

#topnav:hover {
    transform: scale(1.02);
    background-color: #3f3f3f !important;
}

.nav-item {
    border-radius: 15px;
}

.nav-item * {
    font-size: x-large;
}

.nav-item:hover {
    background-color: rgb(100, 100, 100) !important;
    transition: all 0.3s ease-in-out;
} 

.logo {
    border-radius: 50px;
}

.logo:hover {
    background-color: rgb(100, 100, 100);
    transition: all 0.3s ease-in-out;
}


.useravatar {
    display: inline-flex;
    border-radius: 50px !important;
    border: 3px solid white !important;
    margin-left: 5px !important;
}

::-webkit-scrollbar-track {
    border-radius: 999999px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 999999px;
    background-color: #555;
}