---
import Main from "../../../layouts/main.astro";
import ControlBar from "../../../components/control_bar.astro";
import BackBtn from "../../../components/back_btn.astro";
---

<Main head_title="Dashboard">
    <ControlBar>
        <BackBtn>Back</BackBtn>
    </ControlBar>
    <div class="player-hub">
        <div class="player">
            <h1>Welcome to Music</h1>
        </div>
        <div class="queue">
            <div id="queue-items">
                <h1>Song Name</h1>
            </div>
            <div id="queue-items">
                <h1>Song Name</h1>
            </div>
            <div id="queue-items">
                <h1>Song Name</h1>
            </div>
            <div id="queue-items">
                <h1>Song Name</h1>
            </div>
            <div id="queue-items">
                <h1>Song Name</h1>
            </div>
            <div id="queue-items">
                <h1>Song Name</h1>
            </div>
            <div id="queue-items">
                <h1>Song Name</h1>
            </div>
            <div id="queue-items">
                <h1>Song Name</h1>
            </div>
            <div id="queue-items">
                <h1>Song Name</h1>
            </div>
            <div id="queue-items">
                <h1>Song Name</h1>
            </div><div id="queue-items">
                <h1>Song Name</h1>
            </div><div id="queue-items">
                <h1>Song Name</h1>
            </div><div id="queue-items">
                <h1>Song Name</h1>
            </div><div id="queue-items">
                <h1>Song Name</h1>
            </div><div id="queue-items">
                <h1>Song Name</h1>
            </div><div id="queue-items">
                <h1>Song Name</h1>
            </div>
        </div>
    </div>
    <style>
        @media screen and (max-width: 800px) {
            .player-hub {
                flex-direction: column !important;
                height: unset !important;
            }
            .player-hub > div {
                width: -webkit-fill-available !important;
            }
            .queue {
                max-height: unset !important;
                overflow: unset !important;
            }
            .player {
                height: 70vh;
            }
        }

        .player-hub {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            height: 70vh;
        }
        .player-hub > div {
            background-color: #4f4f4f;
            width: 50%;
            display: flex;
            flex-direction: column;
            margin: 0.5rem;
            border-radius: 15px;
        }
        .queue {
            justify-content: unset;
            overflow-x: hidden;
            overflow-y: scroll;
        }
        
    </style>
    <script src="./../../../js/music.js"></script>
</Main>
