---
import Main from '../layouts/main.astro';
---
<Main head_title="Dashboard">
    <link rel="stylesheet" href="/assets/dash.css"/>
    <div id="sever">
    </div>
    <script>
        import { get_guilds, check_login } from "../js/login_modun.js";
        if (!(await check_login())) {
            location.replace("/login");
        }
        let guilds = await get_guilds();
        function servernameicon(name) {
            return name.split(/\s/).reduce((response,word)=> response+=word.slice(0,1),'')
        }
        let sdata = guilds.data;
        for (let i of sdata) {
            let atag = document.createElement("a")
            atag.id = "servermain"
            atag.href = `javascript:alert("Comming Soon")`
            let shotname = servernameicon(i.name)
            let name = i.name
            if (!i.icon) {
                atag.innerHTML = `<div id="serverbox">
                    <div id="servertexticon">
                        <span>${shotname}</span>
                    </div>
                    <div class="center" id="servernamebox">
                    <span id="servername">
                        ${name}
                    </span>
                </div>
                </div>`
            } else {
                atag.innerHTML = `<div id="serverbox">
                <img src="${i.icon}" alt="" id="servericon">
                <div class="center" id="servernamebox">
                    <span id="servername">
                        ${name}
                    </span>
                </div>
                </div>`
            }
            let sever_box = document.getElementById("sever");
            if (sever_box != null) {
                sever_box.appendChild(atag);
            } else {
                location.reload();
            }
        }
    </script>
</Main>