---
import Main from "../layouts/main.astro";
---

<Main head_title="hi">
	<link rel="prefetch" href="https://prod.spline.design/rMgTUH-mhmqsg0iP/scene.splinecode" />
	<link rel="stylesheet" href="/assets/home.css" />
	<div class="head1">
		<div class="main-content">
			<h1 class="title">
				The Ultimate <span class="typed"></span> bot for your server
			</h1>
			<span>Make your server more easier by inviting Fantasy</span>
			<div class="gbtn">
				<button class="btn btn-lg btn-primary"><a href="/invite" id="invite-btn">Invite</a></button>
				<button class="btn btn-lg btn-outline-secondary"><a href="/support" id="support-btn">Join Server</a></button>
			</div>
		</div>
		<div class="canvas-main">
			<canvas id="canvas3d"></canvas>
		</div>
	</div>
	<script src="../js/home.js"/>
</Main>
