---
import Main from '../layouts/main.astro';
---

<Main head_title="hi">
	<div class="center">
		<h1>Welcome to Fantasy website</h1>
	</div>
	<div class="dropdown-center" data-bs-theme="dark">
		<button class="btn btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
		  Dropdown button
		</button>
		<ul class="dropdown-menu">
		  <li><a class="dropdown-item" href="#">Action</a></li>
		  <li><a class="dropdown-item" href="#">Another action</a></li>
		  <li><a class="dropdown-item" href="#">Something else here</a></li>
		</ul>
	  </div>
</Main>
