---
import Main from "../layouts/main.astro";
---

<Main head_title="hi">
	<div class="head1">
		<div class="main-content">
			<h1 class="title">Welcome to Fantasy website</h1>
		</div>
		<div class="canvas-main">
			<canvas id="canvas3d"></canvas>
		</div>
	</div>
	<script>
		import { Application } from "@splinetool/runtime";
		const canvas = document.getElementById("canvas3d");
		const app = new Application(canvas);
		app.load(
			"https://prod.spline.design/rMgTUH-mhmqsg0iP/scene.splinecode",
		);
	</script>
	<style is:inline>

		@media screen and (max-width: 860px) {

			.canvas-main {
				display: none !important;
			}

			.main-content {
				width: 100% !important;
				text-align: center !important;
				display: block !important;
			}
		}
		.head1 {
			display: flex;
			flex-direction: row;
			align-items: stretch;
		}
		.canvas-main {
			width: 50%;
			display: flex;
			justify-content: center;
			align-self: center;
		}
		.main-content {
			width: 50%;
			display: flex;
			justify-content: center;
			align-self: center;
		}
	</style>
</Main>
