---
let now_year = new Date().getFullYear();
---
<footer>
    <div class="py-3">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item">
                <a href="/tos" class="nav-link px-3">Terms of Service</a>
            </li>
            <li class="nav-item">
                <a href="/pp" class="nav-link px-3">Privacy Policy</a>
            </li>
        </ul>
        <p class="text-center">© {now_year} Fantasy Team</p>
    </div>
</footer>

